h1{
    height: 100vh;
    background-color: blue;
    width: 200px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 200px;
}
h2{
    background-color: rgb(174, 255, 0);
    width: 200px;
    color: white;
}